@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background: url('../img/backImage.jpg') center / cover no-repeat;

    .board {
        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: center;
        width: 80%;

        &_item {
            display: flex;
            flex-direction: column;
            align-self: baseline;
            max-width: 30%;
            width: 100%;
            min-height: 80vh;
            background-color: rgba(0, 0, 0, .5);
            margin: 0 15px;
            padding: 10px;
            transition: .3s all ease;
            border-radius: 3px;

            .title {
                padding: 5px;
                color: white;

                &:focus {
                    outline: 1px solid rgba(168, 168, 168, .45);
                }

            }

            .list {
                min-width: 40px;

                &_item {
                    position: relative;
                    background-color: #fefefe;
                    border-radius: 3px;
                    padding: 10px;
                    text-align: center;
                    margin: 4px 0;
                    cursor: pointer;
                    font-size: 14px;
                    outline: none;
                    border: none;



                    .removeItem {
                        position: absolute;
                        border: none;
                        top: 5px;
                        right: 5px;
                        z-index: 9;
                        text-decoration: none;
                        width: 20px;
                        height: 20px;
                        line-height: 1;
                        text-align: center;
                        color: grey;
                        font-size: 19px;
                        font-weight: 700;
                        background-image: url('../img/cross.svg');
                    }
                }

                .dragged {
                    position: absolute;
                    //z-index: 999;
                    pointer-events: none;
                    background: lightblue;
                    border: 10px solid red
                }


            }

            .form {
                border-radius: 3px;
                margin-top: 5px;

                .textarea {
                    resize: none;
                    height: 60px;
                    border-radius: 3px;
                    border: none;
                    background: white;
                    padding: 5px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }

                }

                .buttons {
                    margin-top: 5px;
                    display: flex;

                    .add_item-btn {
                        padding: 0 10px;
                        background: rgb(13, 136, 218);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: white;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        width: 100%;
                    }

                    .cancel_item-btn {
                        padding: 0 10px;
                        background: rgb(160, 17, 10);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: white;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 75px;
                        margin-left: auto;
                        flex-shrink: 0;
                    }
                }
            }

            .add_btn {
                height: 30px;
                background: rgba(155, 155, 155, .3);
                border-radius: 3px;
                margin-top: 5px;
                display: flex;
                font-size: 12px;
                align-items: center;
                padding-left: 10px;
                color: white;

                span {
                    font-size: 20px;
                    margin-right: 10px;
                    color: white;
                }
            }

            .hidden {
                display: none;
            }
        }

    }
}